<!doctype html>

<link rel=stylesheet type=text/css href='static/style.css?version=3.3'>
<div class=page>
  <h1>Plotting stock prices.</h1>
    <h2>
      <br>
      Please pick one.
    </h2>

    <form id='select' method='post' action='plot' >
      <p>
    <input type='checkbox' name='option' class='radio' value='Closing price'> Closing price 
      </p>
      <p>
    <input type='checkbox' name='option' class='radio' value='Opening price'> Opening price
      </p>
      <p>
    <input type='submit' value='Submit' />
      </p>
    </form>

</div>
</html>
